body {
    background-color: #F7F4E4;
    font-family: sans-serif;
    margin: 0 auto;
    width: 80%;
    max-width: 1280px;
}

p {
    text-indent: 1em;
}

h1, h2, h3, h4, h5, h6 {
    color: #333333;
}

h1 {
    font-size: 1.8rem;
    text-align: center;
}

h2 {
    font-size: 1.4rem;
    text-align: right;
}

h3 {
    font-size: 1.2rem;
    text-align: center;
}

.destaque {
    color: #8BC34A;
}

.summary {
    text-align: right;
}

.main{
    line-height: 1.5;
}

abbr {
    font-variant: small-caps;
}

.intro{
    height: 550px;
}

#design-archives {
    display: none;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
}

header h1, header h2 {
    display: inline-block;
    margin-right: 1em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin-bottom: 1em;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
}

footer a {
    border: 2px solid #fff;
    padding: 0.5em;
    display: inline-block;
}