body {
    background-color: #f7f7f7;
    color: #333;
}

.highlight {
    color: #8bc34a;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 20px;
    width: 80%;
}

p {
    text-indent: 1em;
}

h1 {
    font-size: 1.8rem;
    text-align: center;
}

h2 {
    font-size: 1.4rem;
    text-align: center;
}

h3 {
    font-size: 1.2rem;
    text-align: center;
}

.summary {
    text-align: right;
}

.main {
    line-height: 1.5;
}

abbr {
    font-variant: small-caps;
}

.page-wrapper {
    position: relative;
}

.page {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.intro {
    height: 550px;
}

header {
    background-color: #333;
    color: #f7f7f7;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-left: 1em;
}

.nav {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 560px;
    left: 62%;
    width: 38%;
    padding: 20px;
    border: 1px solid #1f295c;
    border-left: none;
    margin-left: 2%;
}

.nav li {
    margin-bottom: 1em;
    text-align: center;
}

.nav a {
    text-decoration: none;
    color: #8bc34a;
    font-weight: bold;
}

footer {
    background-color: #333;
    color: #f7f7f7;
    text-align: center;
    margin-bottom: 4%;
}

footer a {
    text-decoration: none;
    color: #8bc34a;
    font-weight: bold;
    border: 2px solid #8bc34a;
    padding: 0.5em;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-item {
    flex: 1;
    margin: 10px;
}

.benefits {
display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.benefits.text {
    width: 70%;
}

.benefits.title {
    width: 30%;
    text-align: center;
    vertical-align: middle;
}

.participation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.participation.item {
    width: 50%;
    margin: 10px;
}

.participation.title {
    text-align: center;
    vertical-align: middle;
}

a {
    color: #8bc34a;
    font-weight: bold;
}

a:hover {
    color: #666;
}

a:visited {
    font-weight: normal;
}

.main p:first-child:first-letter {
    font-size: 3em;
    font-family: 'Times New Roman', serif;
    float: left;
    margin-right: 10px;
}

.nav li {
    border-top: 1px solid #ccc;
}

.nav li:last-child {
    border-bottom: 1px solid #ccc;
}

.main footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main footer a {
    flex: 1;
    margin: 0 1em;
}

@media only screen and (max-width: 768px) {
   .nav {
        position: static;
    }
    
   .page {
        border: none;
    }
    
   .flex-container {
        flex-direction: column;
    }
    
   .intro {
        height: auto;
    }
    
    p {
        text-indent: 0;
    }
}

@media print {
    body {
        font-family: 'Times New Roman', serif;
    }
    
    header {
        background-color: #f7f7f7;
        color: #333;
    }
}